@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

body {
   background-image: url(/assets/imagens/early-evening-4k_1608579462.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.content-center {
    width: 100%;
    max-width: 380px;
    margin: auto;
    padding: 20px;
    background-color: #554e4e6e;
    border-radius: 35px;

}

.content-center img {
    width: 70%;
}

.content-center form {
    margin: 20px;

}

.content-center input,
.content-center button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.content-center input {
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}

.content-center input:focus {
    border-bottom-color: rgb(170, 80, 255);
}

.content-center button {
    background-color: rgb(170, 80, 255);
    color: #ccc;
}

.content-center button:hover {
    background-color: rgb(69, 5, 82);
    cursor: pointer;
}

.content-center button:active {
    background-color: darkorchid;

}

header a {
    text-decoration: none;
    color: #dfdfdf;

}

header a:visited {
    color: rgb(233, 227, 227);
}

header a:focus {
    color: red;

}

header a:active {
    color: yellow;
}

header h1 {
    font-size: 5.5em;
    text-align: center;
    margin: 50px auto;
}
footer p{
    margin-top: 1em;
    font-size: .8em;
    text-align: center;
}
#text-center{
    text-align: center;
}